.dark {
    background-color: black;
}

.light {
    background-color: white;
}

.dark > .top-menu {
    width: 405px;
    margin: 0 auto;
    background-color:  #4a4646;
}

.dark > .top-menu > .top-menu-item {
    background-color: #4a4646;
    width: 200px;
    color: white;
}

.dark > .top-menu > .top-menu-item:hover {
    background-color: #4d2834;
    min-width: 200px;
}

.dark > .top-menu > .top-menu-item.selected {
    color:#1bf782;
}

body {
padding: 0;
margin: 0px 50px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 300;
text-rendering: optimizelegibility;
}

p {
font-size: 30px; 
line-height: 30px;

}

div.motor {
text-align: center; 
width: 25%; 
float: left;
}

div.motor > p {
font-size: 20px;
color: #518a77;

}

div.statusbox {
padding-top: 25px;
text-align: left; 
width: 25%; 
float: left;
}

div.switchbox {
padding-top: 25px;
text-align: right; 
width: 25%; 
float: left;
}

div.statusbox > .statuslabel {
  
font-size: 20px;
color: #518a77; 
line-height: 30px;

  
}

div.statusbox > .status-off {
  
font-size: 20px;
color: #75040f; 
line-height: 30px;

  
}


div.statusbox > .status-on {
  
font-size: 20px;
color: #1bf782; 
line-height: 30px;
font-weight: 900;
}

.arrow {
   clear: both;
   display: inline-block;
   max-width:150px;
   max-height:50px;
   width: auto;
   height: auto;
}

.motorInputBox {
    clear: both;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 20px;
    font-size: 18px;
    text-align: center;
    top:-20px;
    position: relative;
}

#ScreenTroubleShooting {
    color:red;
    display: none;
}
